<div class="row">
    <!--div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div-->
    <div class="col-md-12">
        <h1 style="text-align:center; margin-top:32px; font-size:48px" class="display-4" >Kontakt</h1>
        <p style="text-align:center; margin-top:48px; font-size:32px" class="lead" >Per Mail oder telefonisch:</p>
    </div>
</div>
<div class="row " style="font-size: 20px; margin-top: 64px">
	<div class="col-md-12" >
		<ul style="margin: auto; width: 200px;">
	        <li>info@mtheile.com</li>
	        <li>0163 33 45 395</li>
        </ul>
	</div>
</div>
<div class="row" style=" margin-bottom: 300px;">
  
    <div class="col-md-12">
        <p style="text-align:center; margin-top:64px; font-size:32px" class="lead" >Z&ouml;gern Sie nicht :-)</p>
    </div>
</div>

