<div class="row">
    <!--div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div-->
    <div class="col-md-12">
        <h1 style="text-align:center; margin-top:32px; font-size:48px" class="display-4" >Kontakt</h1>
        <p style="text-align:center; margin-top:48px; font-size:32px" class="lead" >Per Mail oder telefonisch:</p>
    </div>
</div>
<div class="row" style="font-size: 20px; margin-top: 64px">
	<div class="col-md-5"></div>
	<div class="col-md-2">
		<ul>
	        <li>theile@mtheile.com</li>
	        <li>0163 33 45 395</li>
        </ul>
	
	</div>
	<div class="col-md-5"></div>
</div>
<div class="row" style=" margin-bottom: 300px;">
  
    <div class="col-md-12">
        <p style="text-align:center; margin-top:64px; font-size:32px" class="lead" >Es w&auml;re mir eine Freude!</p>
    </div>
</div>

