<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="my-h1" >Projekte &amp; Kompetenzen</p>
			<p class="my-h2" >Softwarel&ouml;sungen, die es auf den Punkt bringen.</p>
			<p class="my-h2" >Leicht. Klar. Praktisch.</p>
		</div>
	</div>
 
	<div class="row">

		<div class="col-md-12">
			<p>
				Entwicklung von Web-Applikationen
				Kontaktieren Sie mich.
				Ich werden Ihr Softwareprojekt gerne analysieren und
				Ihnen Optionen zur Durchf&uuml;hrung aufzeigen.
				Machen Sie sich ein Bild:</p>
		</div>
		
	</div>


</div>